body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    /* overflow:hidden; */
    width: 100vw;
    height:100vh;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;

}

.divider{
   margin-top:auto;

}

.button {
    border: 0px;
    border-radius: 5px;
    background-color: #794faf;
    color: white;
    font-size: 12px;
    margin: 2px;
    padding: 15px;
    text-decoration: none;
    z-index: 1;
    text-align: center;
}


.main-subtitle{
    font-size: medium;
}

li{
    list-style-type: none;
    display: flex;
    align-items:  center;

}

/* -------------------------------------------------------- */


#home{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing-title-image{
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    right:0;
    bottom:0
}


#landing-titles{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    /* text-align: center; */
    align-items: center;
    padding: 10px;
}

#landing-button{
    width:100px;
    margin-top:50px;
}



#landing-info-checklist{
text-align: left;
padding-left: 0px;
}

.landing-info-check{
    height:25px;
    padding:5px;
}

#landing-seo-image{
    margin-top:auto;
    position: absolute;
    z-index: -1;
}

.landing-seo-icon{
    width:100px;
}

.landing-seo-text{
    margin:5px;
}